@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-size: 1.1rem;
    --font-size2: 1rem;
    --font-family: 'Hanken Grotesk', sans-serif;


    --margin-o: 0.5rem;
    --margin-a: 1rem;
    --margin-b: 2rem;
    --margin-c: 3rem;
  
    --padding-a: 1.5rem;
    --padding-b: 2.5rem;
    --padding-c: 3.5rem;

    --clr-primary-light-red: hsl(0, 100%, 67%, 6%);
    --clr-primary-orangey-yellow: hsl(39, 100%, 56%, 6%);
    --clr-primary-green-teal: hsl(166, 100%, 37%, 6%);
    --clr-primary-cobalt-blue: hsl(234, 85%, 45%, 6%);

    --clr-normal-light-red: hsl(0, 100%, 67%);
    --clr-normal-orangey-yellow: hsl(39, 100%, 56%);
    --clr-normal-green-teal: hsl(166, 100%, 37%);
    --clr-normal-cobalt-blue: hsl(234, 85%, 45%);

    --clr-gradient-light-slate-blue-background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 80%, 54%) 80%);
    --clr-gradient-violet-blue-circle: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) 90%);

    --clr-neutral-white: #ffffff;
    --clr-neutral-pale-blue: #ebf1ff;
    --clr-neutral-light-lavender: #c8c7ff;
    --clr-neutral-dark-gray-blue: #303b5a;

    
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline-block;
}

body {
    font-family: var(--font-family);
    color: var(--clr-neutral-dark-gray-blue);
    font-size: var(--font-size);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: var(--margin-o);
    text-align: center;
}

.result {
    background: var(--clr-gradient-light-slate-blue-background);
    color: var(--clr-neutral-white);
    padding: var(--margin-b) var(--padding-c);
    border-radius: 0 0 var(--margin-b) var(--margin-b);
    box-shadow: 0 2.5rem 3rem var(--clr-neutral-pale-blue);
}

h1, .result-score {
    margin-block-end: var(--padding-b);
}

h1 {
    font-size: var(--font-size2);
    font-weight: 500;
    color: var(--clr-neutral-light-lavender);
}

.number {
    font-size: 3.5rem;
    font-weight: 800;
}

.result-score {
    background: var(--clr-gradient-violet-blue-circle);
    width: 47%;
    margin-inline: auto;
    padding: var(--padding-a) var(--padding-b);
    border-radius: 60rem;
}

.total {
    font-size: 0.9rem;
    color: var(--clr-neutral-light-lavender);
}

h2 {
    font-size: 1.35rem;
    font-weight: 700;
    margin-block-end: var(--margin-o);
}

.remark {
    font-size: 1rem;
    line-height: 1.3;
    color: var(--clr-neutral-light-lavender);
    margin-block-end: var(--margin-o);
}

.summary {
    padding: var(--margin-b);
}

.title {
    text-align: left;
    font-size: 1.1rem;
    margin-block-end: var(--padding-a);
    font-weight: 700;
    color: var(--clr-neutral-dark-gray-blue);
}

.summary-item {
    margin: var(--margin-a) 0;
    display: flex;
    border-radius: 0.5rem;
    padding: var(--margin-a);
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 700;
}

span {
    color: rgba(112, 110, 110, 0.598);
}

img {
    padding-inline-end: 0.8rem;
}

.ratings {
    color: var(--clr-neutral-dark-gray-blue);
}

.summary-item-text {
    display: flex;
    align-items: center;
}

.summary-wrapper > *:nth-child(1) {
    color: var(--clr-normal-light-red);
}

.summary-wrapper > *:nth-child(2) {
    color: var(--clr-normal-orangey-yellow);
}

.summary-wrapper > *:nth-child(3) {
    color: var(--clr-normal-green-teal);
}

.summary-wrapper > *:nth-child(4) {
    color: var(--clr-normal-cobalt-blue);
}


.summary-item:nth-child(1) {
    background-color: var(--clr-primary-light-red);
}

.summary-item:nth-child(2) {
    background-color: var(--clr-primary-orangey-yellow);
}

.summary-item:nth-child(3) {
    background-color: var(--clr-primary-green-teal);
}

.summary-item:nth-child(4) {
    background-color: var(--clr-primary-cobalt-blue);
}

.summary-btn {
    background: var(--clr-neutral-dark-gray-blue);
    border-radius: var(--margin-b);
    padding: 1.3rem;
    color: var(--clr-neutral-white);
    width: 100%;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    border: none;
    display: inline-block;
}

.summary-btn:hover {
    background: var(--clr-gradient-light-slate-blue-background);
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin: var(--margin-o);
}

.attribution p {
    padding-block-end: var(--margin-o);
}


@media (min-width: 720px) {

    .container {
        max-width: 37.5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        background-color: white;
        min-height: calc(100vh - 0.1px);
    }

    .result {
        border-radius: var(--margin-b);
    }

    .result-score {
        width: 75%;
    }

    .remark {
        font-size: 0.85rem;   
    }

    .summary-item {
        margin: var(--margin-o) 0;
        display: flex;
        border-radius: 0.5rem;
        padding: var(--margin-a);
    }

    .attribution {
        flex-direction: row;
        gap: 4rem;
    }

    .summary-btn {
        padding: 1rem;
    }

    .result.score {
        width: 30%;
    }

       
}
